.menuBarRow{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 95%;
  border-radius: 0 2px 2px 0;
}
.menuBarRow:hover{
  background-color: #80808017;
  cursor: pointer;
}
.menuBarRow__iconButton{
  background: transparent !important;
}
.menuBarRow > span {
  padding-left: 1rem;
}
.menuBarRow__icons{
  height: 6.5vh;
  display: flex;
  align-items: center;
}
.menuBarRow__icon--avatar{
  width: 30px !important;
  height: 30px !important;
  margin-left: 0.5rem;
  padding: 0;
}
/* isSelected icon */
.isSelected, .isSelected:hover{
  background-color: #80808044;
}
.isSelectedIcon{
  color: red !important;
}
